body {
    margin: 0;
    
}
.header {
    background-color: #CB2D0F;
}
.logga {
    max-width: 100%;
    padding: 25px;
}

.column {
    float: left;
    width: 50%;
    
    text-align: center;
}

.run {
    color: white;
    font-family: sans-serif;
    font-size:40pt;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column2 {
    padding-top: 15%
}
.appbadge {
    height: 60px;
}
h1, p {
    font-family: sans-serif;
    text-align: center;
}
.intro {
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 920px) {
    /* For mobile phones: */
    [class*="column"] {
        width: 100%;
    }
    [class*="logga"] {
        width: 60%
    }
    [class*="column2"] {
        padding-top: 5px;
    }
    [class*="run"] {
        font-size: 24pt;
    }

}
